/**
* variable
*/
.container:after, .sidebar:after, header ul.menus:after, .pagination:after {
  content: '';
  display: table;
  clear: both;
  zoom: 1; }

/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzA7aC6SjiAOpAWOKfJDfVRY.woff2) format("woff2");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F; }

/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzBdwxCXfZpKo5kWAx_74bHs.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }

/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzJ6vnaPZw6nYDxM4SVEMFKg.woff2) format("woff2");
  unicode-range: U+1F00-1FFF; }

/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzPy1_HTwRwgtl1cPga3Fy3Y.woff2) format("woff2");
  unicode-range: U+0370-03FF; }

/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzPgrLsWo7Jk1KvZser0olKY.woff2) format("woff2");
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB; }

/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzIjoYw3YTyktCCer_ilOlhE.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzBampu5_7CjHW5spxoeN3Vs.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }

/* vietnamese */
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local("Pacifico Regular"), local("Pacifico-Regular"), url(https://fonts.gstatic.com/s/pacifico/v9/m0Shgsxo4xCSzZHO6RHWxBkAz4rYn47Zy2rvigWQf6w.woff2) format("woff2");
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB; }

/* latin-ext */
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local("Pacifico Regular"), local("Pacifico-Regular"), url(https://fonts.gstatic.com/s/pacifico/v9/6RfRbOG3yn4TnWVTc898ERkAz4rYn47Zy2rvigWQf6w.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local("Pacifico Regular"), local("Pacifico-Regular"), url(https://fonts.gstatic.com/s/pacifico/v9/Q_Z9mv4hySLTMoMjnk_rCXYhjbSpvc47ee6xR_80Hnw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }

/* latin */
@font-face {
  font-family: 'Handlee';
  font-style: normal;
  font-weight: 400;
  src: local("Handlee Regular"), local("Handlee-Regular"), url(https://fonts.gstatic.com/s/handlee/v5/juOaTHBX9N7mCQYS68pw6QLUuEpTyoUstqEm5AMlJo4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }

/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url(https://fonts.gstatic.com/s/roboto/v15/sTdaA6j0Psb920Vjv-mrzH-_kf6ByYO6CLYdB4HQE-Y.woff2) format("woff2");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F; }

/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url(https://fonts.gstatic.com/s/roboto/v15/uYECMKoHcO9x1wdmbyHIm3-_kf6ByYO6CLYdB4HQE-Y.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }

/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url(https://fonts.gstatic.com/s/roboto/v15/tnj4SB6DNbdaQnsM8CFqBX-_kf6ByYO6CLYdB4HQE-Y.woff2) format("woff2");
  unicode-range: U+1F00-1FFF; }

/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url(https://fonts.gstatic.com/s/roboto/v15/_VYFx-s824kXq_Ul2BHqYH-_kf6ByYO6CLYdB4HQE-Y.woff2) format("woff2");
  unicode-range: U+0370-03FF; }

/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url(https://fonts.gstatic.com/s/roboto/v15/NJ4vxlgWwWbEsv18dAhqnn-_kf6ByYO6CLYdB4HQE-Y.woff2) format("woff2");
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB; }

/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url(https://fonts.gstatic.com/s/roboto/v15/Ks_cVxiCiwUWVsFWFA3Bjn-_kf6ByYO6CLYdB4HQE-Y.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url(https://fonts.gstatic.com/s/roboto/v15/oMMgfZMQthOryQo9n22dcuvvDin1pK8aKteLpeZ5c0A.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }

/* gujarati */
@font-face {
  font-family: 'Shrikhand';
  font-style: normal;
  font-weight: 400;
  src: local("Shrikhand"), local("Shrikhand-Regular"), url(https://fonts.gstatic.com/s/shrikhand/v1/gAG9PY273yLDV-zH9stnPYX0hVgzZQUfRDuZrPvH3D8.woff2) format("woff2");
  unicode-range: U+0964-0965, U+0A80-0AFF, U+200B-200D, U+20B9, U+25CC, U+A830-A839; }

/* latin-ext */
@font-face {
  font-family: 'Shrikhand';
  font-style: normal;
  font-weight: 400;
  src: local("Shrikhand"), local("Shrikhand-Regular"), url(https://fonts.gstatic.com/s/shrikhand/v1/K9FQo354tLl02a3s6NMmCoX0hVgzZQUfRDuZrPvH3D8.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Shrikhand';
  font-style: normal;
  font-weight: 400;
  src: local("Shrikhand"), local("Shrikhand-Regular"), url(https://fonts.gstatic.com/s/shrikhand/v1/JyWweKXulPH__9al48I7XpBw1xU1rKptJj_0jans920.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }

/* cyrillic */
@font-face {
  font-family: 'Marck Script';
  font-style: normal;
  font-weight: 400;
  src: local("Marck Script"), local("MarckScript-Regular"), url(https://fonts.gstatic.com/s/marckscript/v7/O_D1NAZVOFOobLbVtW3bchdwxCXfZpKo5kWAx_74bHs.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }

/* latin-ext */
@font-face {
  font-family: 'Marck Script';
  font-style: normal;
  font-weight: 400;
  src: local("Marck Script"), local("MarckScript-Regular"), url(https://fonts.gstatic.com/s/marckscript/v7/O_D1NAZVOFOobLbVtW3bcojoYw3YTyktCCer_ilOlhE.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Marck Script';
  font-style: normal;
  font-weight: 400;
  src: local("Marck Script"), local("MarckScript-Regular"), url(https://fonts.gstatic.com/s/marckscript/v7/O_D1NAZVOFOobLbVtW3bchampu5_7CjHW5spxoeN3Vs.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }

h1 {
  font-size: 2rem;
  line-height: 2.2rem; }

h2 {
  font-size: 1.5rem;
  line-height: 1.75rem; }

h3 {
  font-size: 1.33rem;
  line-height: 1.5rem; }

h4 {
  font-size: 1rem;
  line-height: 1.33rem; }

h5 {
  font-size: 0.87rem;
  line-height: 1.17rem; }

h6 {
  font-size: 0.75rem;
  line-height: 1rem; }

.article-container article {
  box-sizing: border-box;
  color: #333;
  font-family: "Roboto";
  font-size: 1rem;
  line-height: 1.33rem;
  padding: 16px;
  box-shadow: inset 0 0 25px rgba(255, 150, 50, 0.3); }

.article-container article .post-title, .post-content .post-title {
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.4), 1px -1px 1px rgba(0, 50, 50, 0.3), -1px 1px 2px rgba(180, 120, 30, 0.8); }

.article-container article .post-excerpt h1, .post-content .post-excerpt h1, .article-container article .post-conent h1, .post-content .post-conent h1 {
  color: #24292e; }

.article-container article .post-excerpt h2, .post-content .post-excerpt h2, .article-container article .post-conent h2, .post-content .post-conent h2 {
  color: #083d77; }

.article-container article .post-excerpt h1, .post-content .post-excerpt h1, .article-container article .post-excerpt h2, .post-content .post-excerpt h2, .article-container article .post-conent h1, .post-content .post-conent h1, .article-container article .post-conent h2, .post-content .post-conent h2 {
  border-left: solid 10px rgba(130, 101, 43, 0.8);
  padding-left: 12px;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.4), 1px -1px 1px rgba(0, 50, 50, 0.3), -1px 1px 2px rgba(180, 120, 30, 0.8); }

.article-container article .post-excerpt h3, .post-content .post-excerpt h3, .article-container article .post-excerpt h4, .post-content .post-excerpt h4, .article-container article .post-excerpt h5, .post-content .post-excerpt h5, .article-container article .post-excerpt h6, .post-content .post-excerpt h6, .article-container article .post-conent h3, .post-content .post-conent h3, .article-container article .post-conent h4, .post-content .post-conent h4, .article-container article .post-conent h5, .post-content .post-conent h5, .article-container article .post-conent h6, .post-content .post-conent h6 {
  color: #004e64; }

.tags-list ul.tags .tag-item .post-meta, .post-category .category li .date {
  margin-right: 10px;
  font-family: "Handlee";
  font-size: 14px;
  color: rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 1px rgba(112, 32, 102, 0.3); }

.tags-list ul.tags .tag-item .post-title, .post-category .category li a {
  display: inline-block;
  padding: 3px 5px;
  color: rgba(0, 100, 240, 0.9);
  font-weight: bold;
  text-shadow: 1px 0 1px rgba(50, 160, 180, 0.6), 1px 1px 1px rgba(150, 100, 240, 0.3); }

article, .page {
  line-height: 1.33rem; }
  article .post-title, .page .post-title {
    font-size: 1.5rem;
    line-height: 1.8rem; }
  article code, .page code {
    background: #fac;
    padding: 1px 5px;
    border-radius: 5px;
    color: rgba(90, 60, 50, 0.8); }
  article em, .page em {
    font-family: "Handlee"; }
  article del, .page del {
    color: rgba(240, 30, 30, 0.8); }
  article strong, .page strong {
    color: rgba(220, 20, 30, 0.8); }
  article hr, .page hr {
    border: dotted 3px rgba(220, 60, 30, 0.5);
    box-shadow: 0 0 10px rgba(200, 130, 30, 0.7); }
  article blockquote, .page blockquote {
    color: #985;
    margin: 5px 0;
    padding: 5px;
    border-left: solid 3px rgba(230, 35, 245, 0.6);
    box-shadow: inset -1px 0px 5px rgba(0, 0, 0, 0.3); }
    article blockquote p, .page blockquote p {
      margin: 0; }
    article blockquote blockquote, .page blockquote blockquote {
      border-color: rgba(30, 100, 200, 0.5); }
  article ol, article ul, .page ol, .page ul {
    font-size: 1.17rem;
    line-height: 1.8rem;
    padding-left: 25px; }
    article ol ul, article ul ul, .page ol ul, .page ul ul {
      font-size: 1rem;
      border-left: solid 3px rgba(160, 120, 60, 0.6);
      list-style-type: circle; }
    article ol ol, article ul ol, .page ol ol, .page ul ol {
      font-size: 1rem;
      border-left: solid 3px rgba(130, 210, 100, 0.7);
      list-style-type: lower-alpha; }
  article ul, .page ul {
    list-style-type: disc; }
  article ol, .page ol {
    list-style-type: decimal-leading-zero; }
  @media screen and (max-width: 767px) {
    article ul, article ol, .page ul, .page ol {
      padding-left: 20px; }
      article ul ul, article ul ol, article ol ul, article ol ol, .page ul ul, .page ul ol, .page ol ul, .page ol ol {
        border-width: 1px; }
    article blockquote, .page blockquote {
      border-width: 1px; } }
  article table, .page table {
    width: 100%;
    margin-top: 8px;
    border-collapse: collapse; }
    article table th, article table td, .page table th, .page table td {
      padding: 5px;
      text-align: center;
      border-radius: 3px;
      box-shadow: inset 0 0 5px rgba(0, 50, 50, 0.4); }
    article table tr:nth-child(2n), .page table tr:nth-child(2n) {
      background-color: #f1f1c1 !important; }
    article table tr:nth-child(2n+1), .page table tr:nth-child(2n+1) {
      background-color: #f2f2aa; }
    article table thead tr, .page table thead tr {
      background-color: #cdc !important; }
  article a, .page a {
    text-decoration: underline;
    color: #c82;
    outline: none; }
  article img, .page img {
    display: block;
    max-width: 100%;
    border-radius: 10px;
    height: auto;
    margin: 5px 0;
    border: solid 3px rgba(140, 140, 140, 0.3); }

/**
* part 
*/
/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

::selection {
  background: rgba(255, 0, 0, 0.5);
  color: #fff; }

::-moz-selection {
  background: rgba(255, 0, 0, 0.5);
  color: #fff; }

code::selection {
  background: rgba(255, 0, 0, 0.5); }

code::-moz-selection {
  background: rgba(255, 0, 0, 0.5); }

::-webkit-scrollbar {
  width: 12px; }

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px; }

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(240, 240, 240, 0.5);
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5); }

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 0, 0, 0.4); }

@media screen and (max-width: 768px) {
  ::-webkit-scrollbar {
    width: 0; }
  ::-webkit-scrollbar-thumb {
    display: none; }
  ::-webkit-scrollbar-track {
    border-radius: 0; } }

html, body {
  overflow-x: hidden; }

body {
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  font-size: 1em;
  color: #434;
  transition: all 800ms; }
  body * {
    box-sizing: border-box; }
  body #bg {
    position: fixed;
    left: 0;
    top: 0;
    z-index: -2; }

ol, ul {
  list-style: none; }

a {
  text-decoration: none;
  position: relative; }
  @media screen and (min-width: 768px) {
    a:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      bottom: 0;
      visibility: hidden;
      transform: scaleX(0);
      transition: all 200ms ease-in-out 0s; }
    a:hover:before {
      visibility: visible;
      transform: scaleX(1); } }

.container {
  position: relative;
  max-width: 1200px;
  height: auto;
  min-height: 70vh;
  padding: 16px;
  margin: 80px auto 30px !important; }

.article-container,
.sidebar {
  float: left; }

#back-to-top {
  position: fixed;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  right: 20px;
  bottom: 50px;
  font-size: 2.5em;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9); }
  @media screen and (min-width: 768px) {
    #back-to-top:hover {
      transition: all 200ms; } }

footer {
  border-top: solid 2px rgba(0, 0, 0, 0.1);
  padding: 20px 0;
  text-align: center;
  font-size: 14px; }
  footer .social {
    margin-bottom: 10px; }
    footer .social a {
      display: inline-block;
      margin: 0 5px; }
      footer .social a:before {
        display: none; }
      footer .social a i.fa {
        font-size: 1.5rem;
        padding: 5px; }
  footer p {
    margin: 0; }
    footer p .copy {
      font-family: "Roboto"; }
    footer p .author {
      font-family: "Pacifico"; }
    footer p .hexo,
    footer p .lencx {
      font-family: "Shrikhand"; }

#search {
  position: relative; }
  #search .result {
    position: absolute;
    margin-top: 36px;
    padding: 0;
    z-index: 999;
    right: 0;
    min-width: 280px;
    max-height: 300px;
    overflow-y: auto; }
    #search .result li {
      background: rgba(240, 240, 240, 0.9);
      padding: 5px 10px;
      margin-bottom: 3px;
      box-shadow: inset 0 0 5px rgba(50, 20, 40, 0.5); }
      #search .result li a {
        display: block;
        width: 100%;
        height: 100%; }
        #search .result li a h3 {
          margin: 0; }
        #search .result li a .tags {
          display: inline-block; }
          #search .result li a .tags span {
            margin-right: 5px; }
        #search .result li a time {
          color: rgba(0, 20, 20, 0.5); }
      #search .result li:last-child {
        border: none;
        margin-bottom: 0; }

.sidebar .category, .sidebar .archives, .sidebar .recent-post {
  margin-top: 30px;
  padding: 15px; }

.sidebar {
  width: 250px;
  height: 100%;
  margin-left: 30px;
  padding-top: 30px; }
  .sidebar h2 {
    user-select: none;
    margin: 0 0 15px;
    font-family: "Marck Script"; }
    .sidebar h2 .fa {
      font-size: 1.2rem;
      margin-right: 10px; }
  .sidebar h3 {
    user-select: none;
    margin: 0; }
  .sidebar .num {
    margin-left: 8px;
    font-size: 14px;
    font-family: "Handlee"; }

.sidebar .tag-cloud {
  font-family: "Roboto"; }
  .sidebar .tag-cloud .tagcloud {
    position: relative; }
    .sidebar .tag-cloud .tagcloud .tagcloud-bg {
      box-sizing: border-box;
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      border-radius: 20px;
      border: solid 5px rgba(50, 50, 50, 0.1);
      background: rgba(0, 0, 0, 0.1);
      box-shadow: inset 0 0 25px rgba(255, 255, 255, 0.8); }

.sidebar .category .category-sidebar li a:before, .sidebar .recent-post li a:before {
  display: none; }

@media screen and (min-width: 768px) {
  .sidebar .category .category-sidebar li a, .sidebar .recent-post li a {
    text-decoration: underline; } }

.sidebar .category .category-sidebar {
  padding-left: 0;
  margin: 0; }
  .sidebar .category .category-sidebar li {
    height: 28px; }
    .sidebar .category .category-sidebar li a {
      font-weight: bold;
      display: inline-block;
      height: 100%;
      line-height: 28px; }

.sidebar .archives div[class^='y'] {
  margin: 10px 0;
  font-family: "Marck Script";
  cursor: pointer; }
  .sidebar .archives div[class^='y'] i:before {
    content: '\f13a';
    font-size: 1rem;
    margin-left: 8px; }
  .sidebar .archives div[class^='y'] .on i.fa:before {
    content: '\f139'; }

.sidebar .archives ul {
  display: none;
  margin: 0;
  padding-left: 20px; }
  .sidebar .archives ul li {
    line-height: 24px; }
    .sidebar .archives ul li a {
      padding: 0 2px; }

.sidebar .recent-post li {
  list-style: none;
  line-height: 28px; }

.container {
  width: 90%; }
  @media screen and (min-width: 992px) {
    .container .article-container {
      width: calc(100% - 280px); } }
  @media screen and (max-width: 991px) {
    .container .article-container {
      width: 100%; }
    .container .sidebar {
      display: none; } }
  @media screen and (max-width: 575px) {
    .container {
      width: 100%;
      padding: 0; } }

header {
  width: 100%;
  height: 62px;
  position: fixed;
  z-index: 999;
  border-bottom: solid 2px rgba(0, 0, 0, 0.3); }
  header a:before {
    display: none; }
  header .logo {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 6px 0 6px 15px;
    border-radius: 50%;
    transition: all 500ms ease 0s; }
    header .logo:before {
      display: none; }
    @media screen and (min-width: 768px) {
      header .logo:hover {
        animation: rotate 4s linear infinite; } }
  header ul.menus {
    display: inline-block;
    padding: 0;
    font-family: "Shrikhand"; }
    header ul.menus li {
      height: 30px;
      line-height: 30px;
      float: left;
      padding: 0 20px;
      font-weight: bold; }
      header ul.menus li i {
        font-size: 1.2rem;
        margin-right: 5px;
        vertical-align: -1px; }
      header ul.menus li a {
        padding: 5px; }
  header #search {
    float: right;
    margin: 15px; }
    header #search input[type='search'] {
      top: 15px;
      width: 30px;
      padding: 5px 20px 5px 10px;
      float: right;
      border-radius: 15px;
      background: rgba(245, 150, 30, 0.3) url(data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjE4cHgiIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDE4IDE4IiB3aWR0aD0iMThweCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIgp4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiBpZD0iUGFnZS0xIiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSI+PGcgZmlsbD0icmdiYSgyNSwgMjUsIDI1LCAuNSkiIGlkPSJDb3JlIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMzM5LjAwMDAwMCwgLTM4MS4wMDAwMDApIj48ZyBpZD0ic2VhcmNoIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgzMzkuMDAwMDAwLCAzODEuMDAwMDAwKSI+PHBhdGggZD0iTTEyLjUsMTEgTDExLjcsMTEgTDExLjQsMTAuNyBDMTIuNCw5LjYgMTMsOC4xIDEzLDYuNSBDMTMsMi45IDEwLjEsMCA2LjUsMCBDMi45LDAgMCwyLjkgMCw2LjUgQzAsMTAuMSAyLjksMTMgNi41LDEzIEM4LjEsMTMgOS42LDEyLjQgMTAuNywxMS40IEwxMSwxMS43IEwxMSwxMi41IEwxNiwxNy41IEwxNy41LDE2IEwxMi41LDExIEwxMi41LDExIFogTTYuNSwxMSBDNCwxMSAyLDkgMiw2LjUgQzIsNCA0LDIgNi41LDIgQzksMiAxMSw0IDExLDYuNSBDMTEsOSA5LDExIDYuNSwxMSBMNi41LDExIFoiIGlkPSJTaGFwZSIvPjwvZz48L2c+PC9nPjwvc3ZnPg==) 50% no-repeat;
      outline: none;
      transition: width 800ms, box-shadow 300ms; }
      header #search input[type='search']:focus {
        width: 200px; }
  header .menu-ico {
    display: none;
    position: relative;
    float: right;
    margin: 14px 30px;
    width: 36px;
    height: 32px;
    cursor: pointer; }
    header .menu-ico span:before,
    header .menu-ico span:after {
      position: absolute;
      box-sizing: border-box;
      display: inline-block;
      content: '';
      width: 18px;
      height: 8px;
      transition: all 500ms ease 0s; }
    header .menu-ico span.ico-t:before,
    header .menu-ico span.ico-m:before,
    header .menu-ico span.ico-b:before {
      left: 0;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      border-right: none; }
    header .menu-ico span.ico-t:after,
    header .menu-ico span.ico-m:after,
    header .menu-ico span.ico-b:after {
      right: 0;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      border-left: none; }
    header .menu-ico span.ico-t:before,
    header .menu-ico span.ico-t:after {
      top: 0; }
    header .menu-ico span.ico-m:before,
    header .menu-ico span.ico-m:after {
      top: 12px; }
    header .menu-ico span.ico-b:before,
    header .menu-ico span.ico-b:after {
      top: 24px; }
    @media screen and (min-width: 768px) {
      header .menu-ico:hover {
        animation: rotate 3s linear infinite; } }
    header .menu-ico.active span:before,
    header .menu-ico.active span:after {
      transition: all 500ms ease; }
    header .menu-ico.active span.ico-t:before {
      transform: rotate(45deg);
      top: 3px; }
    header .menu-ico.active span.ico-t:after {
      transform: rotate(-45deg);
      top: 3px; }
    header .menu-ico.active span.ico-m:before {
      width: 4px;
      transform: translateX(14px); }
    header .menu-ico.active span.ico-m:after {
      width: 4px;
      transform: translateX(-14px); }
    header .menu-ico.active span.ico-b:before {
      transform: rotate(-45deg);
      top: 21px; }
    header .menu-ico.active span.ico-b:after {
      transform: rotate(45deg);
      top: 21px; }
  @media screen and (max-width: 767px) {
    header .menu-ico {
      display: block; }
    header ul.menus {
      position: absolute;
      width: 100%;
      top: 104px;
      display: none;
      margin: 0; }
      header ul.menus.active {
        display: block;
        height: 100vh; }
      header ul.menus li {
        width: 100%;
        height: auto;
        display: block;
        text-align: center; }
        header ul.menus li i {
          display: none; }
        header ul.menus li a {
          display: block;
          width: 100%; }
    header #search {
      display: none;
      width: 100%;
      position: absolute;
      top: 62px;
      padding: 5px 20px;
      margin: 0; }
      header #search.active {
        display: block; } }

@keyframes rotate {
  from {
    transform: rotate(0); }
  to {
    transform: rotate(359deg); } }

@keyframes heart {
  12% {
    transform: rotate(45deg) scale(1.1); }
  50% {
    transform: rotate(45deg) scale(1.2); }
  88% {
    transform: rotate(45deg) scale(0.9); } }

.page-about {
  padding: 0 12px; }
  .page-about h1, .page-about h2 {
    font-family: "Shrikhand"; }
  .page-about img {
    border: none; }
  .page-about img[alt='len'] {
    float: right;
    margin-right: 50px; }
  .page-about img[alt='mm'],
  .page-about img[alt='gg'] {
    width: 200px;
    height: 200px;
    display: inline-block; }

/**
* post
*/
.article-container {
  position: relative;
  width: 75%;
  transition: all 300ms ease 0s; }
  .article-container article {
    margin: 10px 0; }
  .article-container .post-preview .post-excerpt {
    margin-bottom: 10px; }
  .article-container .post-preview .post-read-more {
    display: inline-block;
    height: 30px;
    position: relative; }
    .article-container .post-preview .post-read-more:before {
      content: '';
      position: absolute;
      width: 3px;
      height: 100%;
      transform: scaleY(0);
      transition: transform 0.3s;
      transform-origin: bottom left;
      bottom: 0;
      left: 0;
      z-index: 1; }
    .article-container .post-preview .post-read-more:after {
      content: '';
      position: absolute;
      width: 3px;
      height: 100%;
      transform: scaleY(0);
      transition: transform 0.3s;
      transform-origin: top right;
      bottom: 0;
      right: 0; }
    .article-container .post-preview .post-read-more a {
      font-family: "Shrikhand";
      text-decoration: none;
      display: inline-block;
      height: 100%;
      padding: 0 12px;
      line-height: 30px;
      text-align: center; }
      .article-container .post-preview .post-read-more a:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        transform: scaleX(0);
        transition: transform 0.3s;
        transform-origin: top left;
        top: 0;
        left: 0; }
      .article-container .post-preview .post-read-more a:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        transform: scaleX(0);
        transition: transform 0.3s;
        transform-origin: bottom right;
        bottom: 0;
        right: 0; }
      .article-container .post-preview .post-read-more a i.fa {
        margin-left: 8px;
        font-size: 1.5rem;
        vertical-align: -2px;
        font-weight: bold; }
    .article-container .post-preview .post-read-more:hover:before, .article-container .post-preview .post-read-more:hover:after {
      transform: scaleY(1); }
    .article-container .post-preview .post-read-more:hover a:before, .article-container .post-preview .post-read-more:hover a:after {
      transform: scaleX(1); }

.article-container .post-title, .article-container .post-meta,
.post-content .post-title,
.post-content .post-meta {
  text-align: center; }
  .article-container .post-title a, .article-container .post-meta a,
  .post-content .post-title a,
  .post-content .post-meta a {
    text-decoration: none; }

.article-container .post-title,
.post-content .post-title {
  font-size: 1.8rem;
  font-family: "Shrikhand"; }

.article-container .post-meta .author,
.post-content .post-meta .author {
  font-family: "Pacifico"; }

.article-container .post-meta .category,
.post-content .post-meta .category {
  font-family: "Shrikhand"; }

.article-container .post-meta .fa,
.post-content .post-meta .fa {
  margin: 0 5px 0 8px; }

.article-container .post-meta .date,
.post-content .post-meta .date {
  font-family: "Handlee"; }

.tags-list .updated .fa {
  margin: 0 8px; }

.post-category li .fa:before {
  margin-right: 5px; }

.pagination {
  text-align: center;
  margin: 20px; }
  .pagination a:before {
    visibility: hidden; }
  .pagination ul {
    margin: 0;
    padding: 0; }
  .pagination li {
    display: inline-block;
    border-radius: 50%;
    margin: 5px; }
    @media screen and (min-width: 768px) {
      .pagination li.link:hover a {
        transition: all 800ms; } }
    .pagination li a {
      width: 30px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      display: block;
      border-radius: 50%; }
  .pagination i[class*='fa-angle-double-'] {
    vertical-align: -3px; }
  .pagination i[class*='fa-chevron-circle'] {
    vertical-align: -4px; }
  .pagination i.fa {
    font-weight: bold;
    font-size: 1.5rem; }
  .pagination .prev-post,
  .pagination .next-post {
    position: relative;
    margin: 0 50px;
    padding: 5px 10px;
    border-radius: 0;
    transition: all 500ms ease 0s;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 160px; }
    @media screen and (max-width: 767px) {
      .pagination .prev-post,
      .pagination .next-post {
        margin: 0; } }
    @media screen and (min-width: 768px) {
      .pagination .prev-post,
      .pagination .next-post {
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        max-width: 200px; }
        .pagination .prev-post:hover,
        .pagination .next-post:hover {
          border-radius: 10px; } }
    .pagination .prev-post i,
    .pagination .next-post i {
      position: absolute;
      top: 2px; }
  .pagination .prev-post {
    float: left;
    padding-left: 40px; }
    .pagination .prev-post i {
      left: 10px; }
  .pagination .next-post {
    float: right;
    padding-right: 40px; }
    .pagination .next-post i {
      right: 10px; }
  .pagination .total {
    height: 40px;
    line-height: 40px;
    float: right;
    margin-right: 20px;
    font-family: "Roboto";
    font-weight: bold; }

figure .code-theme {
  position: absolute;
  top: 0;
  right: 0;
  height: 28px;
  line-height: 28px;
  padding: 0 10px 0 25px;
  border-bottom-left-radius: 50px;
  cursor: pointer;
  background: rgba(255, 25, 25, 0.5);
  box-shadow: 0 2px 5px rgba(255, 25, 25, 0.5), 1px 0 5px rgba(255, 25, 25, 0.5), -1px 0 5px rgba(255, 25, 25, 0.5);
  font-family: "Pacifico";
  user-select: none; }
  @media screen and (min-width: 768px) {
    figure .code-theme:hover {
      color: rgba(20, 50, 220, 0.8);
      background: rgba(255, 100, 50, 0.5);
      box-shadow: 0 2px 5px rgba(255, 125, 25, 0.5), 1px 0 5px rgba(255, 125, 25, 0.5), -1px 0 5px rgba(255, 125, 25, 0.5); } }

figure.black {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
  background: rgba(0, 0, 0, 0.3); }
  figure.black:before {
    color: rgba(255, 255, 0, 0.8) !important; }
  figure.black table tr {
    background: rgba(0, 0, 0, 0.7) !important; }
  figure.black .gutter {
    background: rgba(30, 30, 30, 0.3); }
  figure.black .gutter .line {
    color: rgba(240, 240, 240, 0.8); }
  figure.black .gutter {
    box-shadow: inset 0 0 5px rgba(235, 235, 235, 0.8); }
  figure.black .gutter .line {
    text-shadow: 0 0 1px rgba(255, 255, 20, 0.3); }
  figure.black .code-theme {
    color: #fff; }
    @media screen and (min-width: 768px) {
      figure.black .code-theme:hover {
        color: rgba(20, 50, 220, 0.8);
        background: rgba(255, 180, 50, 0.5);
        box-shadow: 0 2px 5px rgba(255, 125, 25, 0.5), 1px 0 5px rgba(255, 125, 25, 0.5), -1px 0 5px rgba(255, 125, 25, 0.5); } }

figure {
  box-shadow: inset 0 0 5px rgba(200, 100, 0, 0.5);
  position: relative;
  overflow: auto;
  white-space: pre;
  padding-top: 28px;
  margin: 10px 0; }
  figure:before {
    color: rgba(10, 10, 100, 0.8) !important; }
  figure table tr {
    background: rgba(255, 255, 240, 0.2) !important; }
  figure .gutter {
    background: rgba(200, 100, 0, 0.5); }
  figure .gutter .line {
    color: #efe; }
  figure .gutter {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5); }
  figure .gutter .line {
    text-shadow: 0 0 1px rgba(0, 25, 25, 0.5); }
  figure table, figure th, figure td {
    border: none; }
  figure > table {
    margin: 0; }
    figure > table th, figure > table td, figure > table tr {
      padding: 0;
      text-align: left;
      border-collapse: separate;
      box-shadow: none;
      border-radius: 0; }
  figure .gutter {
    width: 16px;
    user-select: none; }
    figure .gutter .line {
      height: 24px;
      text-align: right;
      line-height: 24px;
      font-size: 14px;
      font-weight: bold; }
    figure .gutter pre {
      margin: 0;
      float: right;
      padding: 0 3px 0 5px; }
  figure .code pre {
    padding: 0 5px;
    font-family: "Operator Mono SSm A", "Operator Mono SSm B", "Source Code Pro", Menlo, Consolas, Monaco, monospace !important;
    font-size: 1rem; }
    figure .code pre .line {
      height: 24px;
      line-height: 24px;
      color: #8d742a; }

figure:before {
  position: absolute;
  top: 0;
  left: 0;
  overflow-x: hidden;
  height: 28px;
  padding: 0 30px 0 10px;
  font-family: "Shrikhand";
  font-size: 0.75rem;
  color: rgba(0, 48, 73, 0.8);
  border-bottom-right-radius: 50px;
  text-indent: 15px;
  line-height: 28px;
  background: rgba(255, 25, 25, 0.5);
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.5); }

figure .comment {
  color: #969896; }

figure .keyword {
  color: #f92672;
  font-weight: bold;
  font-family: "Pacifico"; }

figure .title {
  color: #66d9ef;
  font-weight: bold; }

figure .params {
  color: #ae81ff;
  font-style: italic; }

figure .attr {
  color: #f0511c; }

figure .regexp {
  color: #ff064a; }

figure .variable {
  color: #70b798; }

figure .built_in {
  color: #0057AF; }

figure .selector-tag {
  color: #cc6666;
  font-weight: bold; }

figure .attribute {
  color: #51fd5a;
  font-weight: bold; }

figure .number {
  color: #CF5A8A; }

figure .string {
  color: #0089a7; }

figure .selector-attr {
  color: #ff9f00; }

figure .selector-class {
  color: #af44f0;
  font-weight: bold; }

figure .selector-id {
  color: #ff00ff;
  font-weight: bold; }

figure .meta {
  color: silver; }

figure .name {
  color: #ff1c5a;
  font-weight: bold; }

figure.js:before {
  content: "JavaScript"; }

figure.scss:before {
  content: "SCSS"; }

figure.css:before {
  content: "CSS"; }

figure.html:before {
  content: "HTML"; }

figure.bash:before {
  content: "bash"; }

figure.yml:before {
  content: "yml"; }

figure.plain:before {
  content: ""; }

.post-meta {
  margin: 10px 0; }

.post-meta .tag {
  border-radius: 5px;
  display: inline-block;
  font-family: "Handlee";
  color: #fff;
  position: relative;
  margin-left: 20px;
  height: 24px;
  line-height: 25px;
  padding: 0 5px 0 8px;
  box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.5);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
  transition: all 300ms ease 0s; }
  .post-meta .tag:before {
    display: none; }
  .post-meta .tag i, .post-meta .tag:after {
    position: absolute;
    display: inline-block;
    content: ''; }
  .post-meta .tag i {
    visibility: visible;
    border-radius: 5px;
    width: 16px;
    height: 16px;
    transform: rotate(45deg);
    z-index: -1;
    left: -6px;
    top: 4px; }
  .post-meta .tag:after {
    width: 6px;
    height: 6px;
    background: #fff;
    left: -2px;
    top: 9px;
    border-radius: 50%;
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.5); }

@media screen and (min-width: 768px) {
  .post-meta a.tag:hover {
    text-decoration: none;
    color: rgba(245, 245, 0, 0.8);
    text-shadow: inset 0 0 2px rgba(255, 255, 255, 0.8);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2); }
    .post-meta a.tag:hover:after {
      background: #f00;
      box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.8); } }

.tagCloud {
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center; }
  .tagCloud a {
    padding: 5px 8px;
    text-shadow: 0 0 1px rgba(240, 188, 199, 0.5), 1px 0 1px rgba(150, 80, 30, 0.8), 1px 0 1px rgba(20, 10, 30, 0.6); }
  @media screen and (min-width: 768px) {
    .tagCloud {
      width: 80%;
      max-width: 560px; } }

.tags-list {
  padding: 16px; }
  .tags-list .tag-title {
    font-size: 2.5rem;
    margin: 0 0 5px;
    color: #fea;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.5), 1px 0 1px rgba(50, 160, 180, 0.6), 1px -1px 1px rgba(150, 100, 240, 0.7), 0 1px 1px rgba(0, 0, 0, 0.8); }
  .tags-list ul.tags {
    padding-left: 0; }
    .tags-list ul.tags .tag-item {
      box-shadow: inset 0 0 10px rgba(210, 108, 18, 0.5);
      margin-bottom: 5px;
      padding: 5px 12px;
      border-radius: 10px; }
      .tags-list ul.tags .tag-item .post-meta {
        display: inline-block;
        margin-right: 10px; }
        .tags-list ul.tags .tag-item .post-meta .fa {
          margin-right: 8px; }
        .tags-list ul.tags .tag-item .post-meta .tag {
          margin-bottom: 5px; }
      .tags-list ul.tags .tag-item .post-title {
        height: 100%; }

.archive-time-line .time-line {
  padding-top: 80px; }
  .archive-time-line .time-line [class^='line-'] {
    position: relative;
    left: 50%;
    height: 50px;
    line-height: 50px;
    cursor: pointer; }
    .archive-time-line .time-line [class^='line-'] a {
      margin-left: 40px;
      padding: 5px 10px;
      border-left: none;
      border-radius: 8px; }
      .archive-time-line .time-line [class^='line-'] a:before {
        display: none; }
      .archive-time-line .time-line [class^='line-'] a:after {
        position: absolute;
        left: -8px;
        top: 50%;
        margin-top: -8px; }
    .archive-time-line .time-line [class^='line-'] .day {
      position: absolute;
      top: 12px;
      left: -1px;
      width: 24px;
      height: 24px;
      line-height: 22px;
      text-align: center;
      border-radius: 50%;
      box-sizing: border-box;
      font-size: .75rem;
      user-select: none; }
  .archive-time-line .time-line [class^='date-'] {
    position: relative;
    left: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center; }
    .archive-time-line .time-line [class^='date-'] .year {
      position: absolute;
      left: -24px;
      top: 0;
      margin: 0;
      width: 50px;
      height: 50px;
      line-height: 47px;
      text-align: center;
      border-radius: 50%;
      font-size: 1.1rem;
      animation: rotate 10s linear infinite;
      cursor: pointer;
      user-select: none; }
    .archive-time-line .time-line [class^='date-'] .month {
      position: absolute;
      left: -2px;
      top: 10px;
      width: 30px;
      height: 30px;
      line-height: 24px;
      text-align: center;
      margin: 0 0 0 -15px;
      border-radius: 50%;
      font-size: .75rem;
      user-select: none; }
      .archive-time-line .time-line [class^='date-'] .month:before {
        display: none; }
    .archive-time-line .time-line [class^='date-'] .num {
      display: inline-block;
      width: 20px;
      height: 20px;
      line-height: 20px;
      text-align: center;
      font-size: .75rem;
      border-radius: 50%;
      margin-left: -98px;
      vertical-align: 10px;
      user-select: none; }

.archive-time-line .line-end {
  width: 300px;
  padding: 10px 0;
  position: absolute;
  left: 50%;
  margin: 24px 0 0 -150px;
  text-align: center;
  font-family: "Roboto";
  font-weight: bold; }

.archive-time-line .line-start {
  position: absolute;
  left: 50%;
  margin-left: -7px;
  transform: rotate(45deg);
  width: 16px;
  height: 16px;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  border-top-right-radius: 50%;
  animation: heart 3s ease infinite; }
  .archive-time-line .line-start:before, .archive-time-line .line-start:after {
    position: absolute;
    display: inline-block;
    content: '';
    width: 16px;
    height: 16px; }
  .archive-time-line .line-start:before {
    left: -8px;
    top: 0;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-top-right-radius: 50%; }
  .archive-time-line .line-start:after {
    top: -8px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%; }

@media screen and (max-width: 575px) {
  .archive-time-line .time-line [class^='line-'] {
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 85%; } }

@media screen and (max-width: 767px) {
  .archive-time-line .time-line [class^='line-'] {
    left: 50px; }
  .archive-time-line .time-line [class^='date-'] {
    left: 50px; }
  .archive-time-line .line-start {
    left: 50px; } }

@media screen and (min-width: 576px) and (max-width: 767px) {
  .archive-time-line .line-start {
    margin-left: 9px; } }

.post-category .title {
  margin-bottom: 5px; }
  .post-category .title .num {
    font-size: 1rem;
    margin-left: 10px;
    font-family: "Shrikhand"; }

.post-category .category {
  padding: 0;
  margin-top: 0; }
  .post-category .category li {
    padding: 0 0 5px 0; }

.post-category hr {
  display: block;
  margin: .5rem auto;
  border-width: 1px; }

@media screen and (max-width: 767px) {
  .post-category {
    padding: 0 16px; }
    .post-category .category i {
      vertical-align: -3px; }
    .post-category .category a {
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      max-width: 300px;
      vertical-align: -9px; } }

.post-content {
  margin: 0 auto;
  width: 100%; }
  .post-content .post-title {
    text-align: center; }
  .post-content .post-meta {
    text-align: center; }

.post-pagination .pagination {
  padding: 10px;
  width: 96%;
  margin: 10px auto 15px; }

@media screen and (max-width: 991px) {
  .post-content {
    width: 98%; } }

@media screen and (max-width: 575px) {
  .post-conent {
    padding: 16px; } }

.post-toc {
  max-width: 260px;
  overflow-y: auto;
  position: fixed;
  z-index: 3;
  top: 80px;
  right: 50px;
  max-height: calc(100% - 120px); }
  .post-toc::-webkit-scrollbar {
    width: 8px; }
  .post-toc::-webkit-scrollbar-thumb {
    background: none; }
  .post-toc::-webkit-scrollbar-track {
    -webkit-box-shadow: none; }
  .post-toc #toc-title {
    margin: 0;
    padding: 5px 10px;
    font-family: "Shrikhand";
    font-size: 1rem;
    text-align: center;
    cursor: pointer; }
    .post-toc #toc-title i {
      margin-left: 10px; }
  .post-toc ol {
    padding: 0 0 16px 10px;
    margin: 0; }
    .post-toc ol li {
      padding-right: 0; }
      .post-toc ol li ol {
        padding-bottom: 0; }
      .post-toc ol li a {
        font-size: .75rem;
        display: inline-block;
        padding: 5px 8px 5px 3px;
        height: 100%;
        font-weight: bold;
        margin-right: 8px; }
        .post-toc ol li a.active {
          transition: all 300ms ease; }
        .post-toc ol li a .toc-number {
          font-family: "Pacifico"; }

@media screen and (max-width: 767px) {
  .post-toc {
    display: none !important; } }

.post-foot .post-comment {
  padding: 10px 20px; }
  .post-foot .post-comment #disqus-loader-error {
    display: none; }
    .post-foot .post-comment #disqus-loader-error .disqus-loader-bg {
      position: relative;
      display: inline-block;
      height: 52px;
      width: 54px;
      margin: 0px auto;
      overflow: hidden;
      box-shadow: inset 0 0 15px rgba(100, 150, 150, 0.5);
      border-radius: 50%; }
      .post-foot .post-comment #disqus-loader-error .disqus-loader-bg .disqus-loader-animat {
        position: absolute;
        width: 26px;
        height: 26px;
        top: 13px;
        left: 15px;
        animation: rotate .7s infinite linear !important;
        border-width: 3px;
        border-style: solid;
        border-color: rgba(51, 54, 58, 0.4) transparent;
        border-radius: 13px;
        transform-origin: 50% 50% 0px; }

#disqus_thread {
  padding-bottom: 20px; }
